[submodule "sample"]
	path = sample
	url = git@github.com:LuomingXu/spiderSampleFile.git
[submodule "config"]
	path = config
	url = git@github.com:LuomingXu/bilibiliSpiderConfig.git
[submodule "jupyter"]
	path = jupyter
	url = git@github.com:LuomingXu/bilibiliJupyter.git
